@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav a h2{
    color: blue;
}
.link{
    background-color: blue;
    border-radius: 30px;
    

}
.link:hover{
    background-color:whitesmoke;
}
.nav-item{
    padding: 30px 30px;
}
.animation-box{
    background-image: url("/static/background.jpeg");
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 120px;

    
}
.center{
    justify-content: center;
    text-align: center;
}



.footer-content{
    text-align: center;
}
.col{
    background-color:black;
    border-radius: 30px;
    color: white;
    
    justify-content: center;
    
}
.col h2{
    text-align: center;
    color: blue;
    padding-top: 20px;
}
.col-pa{
    text-align: center;
    margin-top: 30px;
}
#padding{
    padding-top: 100px;
}
.container{
    margin-top: 150px;
    
    
}
.custom-rounded{
    border-radius: 30px;
    background-color:#343a40; 
    color: white;
    
    
  }
  
.custom-card{
    background-color:#343a40; 
    border-radius: 40px;
    
    
}


@keyframes typing-animation {
    from { width: 0; }
    to { width: 100%; }
  }
  
  .typing p {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    animation: typing-animation 4s linear;
    animation-fill-mode: forwards;
    color: black;
    text-align: center;
    padding-top: 60px;
  }
  

  
  .text-uppercase {
    font-size: 24px;
    font-weight: bold;
  }
 .main-body-dash{
    
    padding-top: 100px;
 }
 span{
    color: green;
 }
 .search{
    justify-content: center;
    text-align: center;
    padding-top: 20vh;
 }
 .search-bar{
    
    border-radius: 30px;
    height: 40px;
 }
 nav a{
    color: red;
 }
 .blurry-number {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  