
* {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
body{
  
    
    background-color: black;
    
}
.link a:hover{
color:#ed0e0e;
}
.explore{
  text-decoration: none;
}

nav a h2{
    color: #03a9f4;
}




.nav-background {
    background-color: black;
    

}
.animation-box{
    background-image: url("/static/background.jpeg");
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 120px;

    
}
.center{
    justify-content: center;
    text-align: center;
}



.footer-content{
    text-align: center;
}

.col h2{
    text-align: center;
    color: #03a9f4;
    padding-top: 20px;
}
.col-pa{
    text-align: center;
    margin-top: 30px;
}
#padding{
    padding-top: 100px;
}

.custom-rounded{
    border-radius: 30px;
    background-color:#343a40; 
    color: white;
    
    
  }
  .trust-pilot{
    padding-left: 300px;
  }
  
.custom-card{
    background-color:#343a40; 
    border-radius: 40px;
    
    
}


@keyframes typing-animation {
    from { width: 0; }
    to { width: 100%; }
  }
  
  .typing p {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    animation: typing-animation 4s linear;
    animation-fill-mode: forwards;
    color: black;
    text-align: center;
    padding-top: 60px;
  }
  

  
  .text-uppercase {
    font-size: 24px;
    font-weight: bold;
  }
 .main-body-dash{
    
    padding-top: 100px;
 }
 span{
    color: green;
 }
 .search{
    justify-content: center;
    text-align: center;
    padding-top: 20vh;
 }
 .search-bar{
    
    border-radius: 30px;
    height: 40px;
 }
 nav a{
    color: red;
 }
 .blurry-number {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

.link{
    padding-right: 30px;
  }
  .link-donate-padding{
    padding-right: 80px;
  }


  section.pricing {
    
    background: linear-gradient(to left,black, #0062E6);
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }