<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
</head>
<body>
    <div>
    <form  method="post">

        <label for="name">name</label>
        <input type="text"> <br>
        <label>
            number
        </label>
        <input type="number" name="" id=""><br>
        <label for="email">Email</label>
        <input type="email" name="" id=""><br>
        <label for="social">social Media Link</label>
        <input type="text" name="" id=""><br>
        <label for="reason">Reason</label>
        <input type="text" name="" id=""><br>
        <label for="">image evidence</label>
        <input type="file" >
        
        <input type="submit" value="Submit">
        


    </form>
</div>
    
</body>
</html>