<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unmask</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
<link rel="manifest" href="/static/favicon_io/site.webmanifest">
<link rel="icon" type="image/png" href="/static/favicon_io/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Header -->
    
        <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
            <a class="navbar-brand title" href="{{url_for('dashboard')}}"> Welcome {{username}}</a> <span>Credits: {{credits}}</span>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link link" href="{{url_for('search')}}">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="{{url_for('add')}}">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Add to database</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="{{url_for('pay')}}">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Pay</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="{{url_for('logout')}}">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; LogOut</a>
                </li>
              </ul>
            </div>
          </nav>
<section class="main-body-dash">
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="/static/assets/image-ex.png" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="card-text blurry-number">0712345006</p>
          
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/static/assets/image-ex.png" class="card-img-top" alt="Image 2">
        <div class="card-body">
          <h5 class="card-title">Jane Smith</h5>
          <p class="card-text blurry-number">074789012</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/static/assets/image-ex.png" class="card-img-top" alt="Image 3">
        <div class="card-body">
          <h5 class="card-title">Mike Johnson</h5>
          <p class="card-text blurry-number">017345678</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <img src="/static/assets/image-ex.png" class="card-img-top" alt="Image 4">
        <div class="card-body">
          <h5 class="card-title">Emily Davis</h5>
          <p class="card-text blurry-number">0783901234</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/static/assets/image-ex.png" class="card-img-top" alt="Image 5">
        <div class="card-body">
          <h5 class="card-title">Alex Brown</h5>
          <p class="card-text blurry-number">567890</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/static/assets/image-ex.png" class="card-img-top" alt="Image 6">
        <div class="card-body">
          <h5 class="card-title">Sarah Wilson</h5>
          <p class="card-text blurry-number">123456</p>
        </div>
      </div>
    </div>
  </div>
</div>


</section>



    



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
  
 </body>
</html>