<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unmask</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Header -->
    
        <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
            <a class="navbar-brand" href="{{url_for('home')}}"><h2>Unmask</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link link" href="{{url_for('home')}}#contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="{{url_for('home')}}#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="#">Donate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link" href="{{url_for('login')}}">Login</a>
                </li>
              </ul>
            </div>
          </nav>

    
  
  <div class="container-fluid animation-box my-10">
    <div class="typing">
        <p class="text-uppercase">Introducing Unmask: Unveil the Truth and Safeguard the Online World

        </p>
        
    </div>
    
    
  </div>


 <section class="mb-4 my-5" id="about">
    <div class="container">
    <h2 class="h1-responsive font-weight-bold text-center my-4">About</h2>
     <div class="row">
         <div class="col mx-5 my-5">
            
            
            <h2><img src="/static/assets/writing.png" alt="" height="40px">   Record Online Criminals</h2>
            <p class="col-pa">Unmask allows you to play an active role in combating cybercrime. By creating an account on our platform, you gain the ability to document the activities and identities of online criminals. Whether it's an email scammer, a hacker, or a fraudulent website, you can contribute to the collective effort of exposing their nefarious deeds. Together, we can create a comprehensive database of these criminals to aid law enforcement agencies and individuals seeking justice.</p>
           

         </div>
         <div class="col mx-5 my-5">
            <h2><img src="/static/assets/search.png" alt="" height="40px"> Search and Unveil</h2>
            <p class="col-pa">Unmask provides a powerful search engine that enables you to uncover the hidden details of online criminals. Using our intuitive interface, you can conduct thorough investigations by inputting various parameters such as usernames, email addresses, IP addresses, or any other relevant information. Our system will then scour our extensive database, providing you with valuable insights and potential connections to uncover the truth. Stay one step ahead of online criminals with Unmask.</p>
            

         </div>

     </div>
     
        
     <div class="row my-5">
         <div class="col mx-5 my-5">
            <h2><img src="/static/assets/refer.png" alt="" height="40px"> Community Collaboration</h2>
            <p class="col-pa">Unmask fosters a vibrant community of individuals dedicated to making the internet a safer place. Connect and collaborate with like-minded users, exchange knowledge, and share your experiences. Through collective intelligence, we can enhance the effectiveness of our efforts, making it increasingly difficult for online criminals to escape justice. Unmask allows you to be part of this proactive community, working together for a common cause.</p>
            

         </div>
         <div class="col mx-5 my-5">
            <h2><img src="/static/assets/newspaper.png" alt="" height="40px"> Anonymity and Privacy</h2>
            <p class="col-pa">At Unmask, we understand the importance of maintaining your anonymity and privacy. Your personal information and identity will always remain confidential. We employ the latest security measures to protect your data and ensure a secure browsing experience. Feel reassured that your contributions to Unmask are entirely private and secure.</p>
            

         </div>
        
     </div>
    </div>
 </section>
  <section class="mb-4" id='contact'>
<div class="container center">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact</h2>
    <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
</div>

</section>

<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright: Unmask.com
    
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>