<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unmask</title>
    
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
<link rel="manifest" href="/static/favicon_io/site.webmanifest">
<link rel="icon" type="image/png" href="/static/favicon_io/favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


  </head>
<body>
    <!-- Header -->
    
        <nav class="navbar navbar-expand-md navbar-light nav-background fixed-top">
          <div class="px-3"> <a class="navbar-brand " href="{{url_for('home')}}"><img src="/static/logo.png" alt="" height="100px"><a></a></div>
           
            <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end text-center" id="navbarNav">
              <ul class="navbar-nav ">
                <li class="nav-item link">
                  <a class="nav-link  text-white" href="{{url_for('home')}}#contact">Contact</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link text-white" href="{{url_for('home')}}#about">About</a>
                </li>
                <li class="nav-item link">
                  <a class="nav-link text-white" href="{{url_for('home')}}#donate">Pricing</a>
                </li>
                
                <li class="nav-item link">
                  <a class="nav-link bg-danger text-white rounded " href="{{url_for('login')}}">Login</a>
                </li>
              </ul>
            </div>
            
          </nav>

    
  
 

  <div class="container-fluid my-5 pt-5">
<div class="row mt-5">
  <div class="col-md pt-5">
    <p class=" mt-5 text-white text-center">Introducing Unmask: Unveil the Truth and Safeguard the Online World. 

    </p>
    <p class="text-white text-center">
      <br>	&#10004;  Report online fraud <br>	&#10004;  Find online scammers 
      <br>	
    </p>
    <div class="container justify-content-center text-center mt-5">
      <a class="rounded bg-danger px-3 text-white justify-content-center text-center pt-2 pb-3 explore" href="">Explore More</a>
    </div>
    

    

  </div>
  <div class="col-md">
    <img src="/static/assets/danger.png" alt="" height="370px">
    
  </div>
 
</div>

  </div>

  <div class="container mt-4">
<div class="row">
  <div class="col text-center">
    
    <img class="pt-5" src="/static/The Big Five Technology Companies.svg" alt="sponsers" height="100px">
    
    
  </div>
  <div class="col text-center">

    <img class="pb-5" src="/static/TP-dark-removebg-preview.png" alt="trusthb" height="200px">

  </div>
</div>

    

    
   






  </div>


 <section class="mb-4 mt-4" id="about">
    <div class="container ">
    <h2 class="h1-responsive font-weight-bold text-center my-4 text-primary">About Us</h2>
     <div class="row mt-5">
         <div class="col-xl-3 col-lg-3 col-md-3  mx-3">
          
          
            <h4 class="pt-4 text-white">  Record Online Criminals</h4>
            <p class="col-pa text-white ">Unmask allows you to play an active role in combating cybercrime. By creating an account on our platform, you gain the ability to document the activities and identities of online criminals. Whether it's an email scammer, a hacker, or a fraudulent website, you can contribute to the collective effort of exposing their nefarious deeds. Together, we can create a comprehensive database of these criminals to aid law enforcement agencies and individuals seeking justice.</p>
           

         </div>
         <div class="col-xl-3 col-lg-3 col-md-3 text-center mx-5 justify-content-end">

          <img class='px-3' src="/static/successful-caucasian-young-man-student-600nw-2141124049-ezgif.com-webp-to-jpg-converter-removebg-preview.png" alt="photo" height="300px">

         </div>
     </div>
     <div class="row my-5">
      <div class="col mx-5 my-5">
          
       
        <h2 class="pt-4 text-white"> Search and Unveil</h2>
        <p class="col-pa text-white">Unmask provides a powerful search engine that enables you to uncover the hidden details of online criminals. Using our intuitive interface, you can conduct thorough investigations by inputting various parameters such as usernames, email addresses, IP addresses, or any other relevant information. Our system will then scour our extensive database, providing you with valuable insights and potential connections to uncover the truth. Stay one step ahead of online criminals with Unmask.</p>
        

     </div>

     </div>
        
     <div class="row my-5">
         <div class="col mx-5 my-5">
          
            
            <h2 class="pt-4 text-white"> Community Collaboration</h2>
            <p class="col-pa text-white">Unmask fosters a vibrant community of individuals dedicated to making the internet a safer place. Connect and collaborate with like-minded users, exchange knowledge, and share your experiences. Through collective intelligence, we can enhance the effectiveness of our efforts, making it increasingly difficult for online criminals to escape justice. Unmask allows you to be part of this proactive community, working together for a common cause.</p>
            

         </div>
         
        
     </div>

    </div>
  <div class="row">
    <div class="col mx-5 my-5">
      
        <h2 class="pt-4 text-white"> Anonymity and Privacy</h2>
        <p class="col-pa text-white">At Unmask, we understand the importance of maintaining your anonymity and privacy. Your personal information and identity will always remain confidential. We employ the latest security measures to protect your data and ensure a secure browsing experience. Feel reassured that your contributions to Unmask are entirely private and secure.</p>
        

     </div>
  </div>
 </section>



 <section class="pricing mt-3">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited
                Private Projects</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated
                Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain
              </li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status
                Reports</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status
                Reports</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong>
              </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free
                Subdomains</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <section class="mb-4" id='donate'>

  <!--      
 <div class="container center">
  <h2 class="h1-responsive text-white text-center my-4 text-white"> Donate</h2>
  This service is currently open source and free to use. Payment options will be introduced in the near future. Enjoy!
  <BR>
    <br>
    
    For payments use: <br>
    Paybill: 247247 <br>
    Account number: 802939 <br>
    
    
  </section>
-->

  <section class="mb-4" id='contact'>
<div class="container center">
    <h2 class=" text-white h1-responsive font-weight-bold text-center my-4">Contact</h2>
    <form method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" name="message" rows="5" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
</div>

</section>

<div class="text-center text-white p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright: Unmask.com
    
  </div>


  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>