<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unmask</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Header -->
    
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
      <a class="navbar-brand title" href="#">Welcome Wilson</a> <span>Credits: 32</span>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link" href="{{url_for('search')}}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="{{url_for('add')}}">Add to database</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="{{url_for('pay')}}">Pay</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="{{url_for('logout')}}">LogOut</a>
          </li>
        </ul>
      </div>
    </nav>


<div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, placeat. Sint quasi, nesciunt, at sequi unde illo, aliquam qui autem fugiat possimus harum eos quidem facilis nihil. Eum, temporibus facere!
</div>



    
      


    


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
  
 </body>
</html>