<!-- Footer Section -->
<footer class="text-white pt-4" style="background-color: #212529;">
  <div class="container-fluid text-center text-md-left">
      <div class="row">
          <!-- About Section -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Unmask.com</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #ffdd00; height: 2px"/>
              <p>Unmask.com is dedicated to unveiling the truth and safeguarding the online world. Stay informed, stay safe.</p>
          </div>

          <!-- Links Section -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Useful Links</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #ffdd00; height: 2px"/>
              <p><a href="#!" class="text-white">Home</a></p>
              <p><a href="#!" class="text-white">Services</a></p>
              <p><a href="#!" class="text-white">Blog</a></p>
              <p><a href="#!" class="text-white">Contact Us</a></p>
          </div>

          <!-- Contact Section -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-start">
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #ffdd00; height: 2px"/>
              <p><i class="fas fa-home mr-3"></i> Shell Gas Station, Nyamira, Kenya</p>
              <p><i class="fas fa-envelope mr-3"></i> unmaskenya@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 123 456 7890</p>
          </div>

          <!-- Social Media Section -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Follow Us</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #ffdd00; height: 2px"/>
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a><br>
              <a class="btn btn-outline-light btn-floating m-1 " href="#!" role="button"><i class="fab fa-twitter "></i></a><br>
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a> <br>
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
  </div>

  <!-- Copyright Section -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright: <a class="text-white" href="https://unmask.com/">Unmask.com</a>
      <br> Developed By: <a class="text-white" href="https://turboknightsystems.com/">TurboKnight Systems</a>
  </div>
</footer>
