<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="bg-black fixed">
        <div class="sidebar-header ">
        <a class="navbar-brand  fw-bold" href="/">
    <img src="/static/logo.png" class=" " alt="logo" height="100px">
    
  </a>
        </div>

        <ul class="list-unstyled components">
            
           
        <li class="">
                <a href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            </li>
            <li>
                <a href="/search"><i class="fas fa-spinner"></i> Search</a>
            </li>
            <li>
                <a href="/add"><i class="fas fa-sync-alt"></i> Report Fraud</a>
            </li>
            <li>
                <a href="/pay"><i class="fas fa-check-circle"></i> Pay</a>
            </li>
           <li>
                <a href="/#contact"><i class="fas fa-address-book"></i> Contact</a>
           </li>

            <li class="dropdown link pt-5">
                <a class="dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i> <span class="text-white"> Profile</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item text-black" href="#"><i class="fas fa-user-edit"></i> Edit Profile</a></li>
                    <li><a class="dropdown-item text-black" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>

        
</nav>
